body{
    margin: 0;
}


$dark: black;
$white: white;
//$ переменная
//@mixin flex($direction){
//    flex-direction: $direction;
//}
.task-manager{
 height: 100vh;   
}



//вызов функции mixin

//@include flex(row);
.menu{
 ///   @include flex(column);
    flex:1;
    background: $dark;
    color: $white;
}
img{
    max-width: 70%;
    margin: 0 auto;
}


