.body{
margin: 0;


}

.container{
    max-width:1200px;
    margin:0 auto;
    display: flex;
   }
header{
    background: red;
}
header .container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
header .login{
    margin-left: auto;

}
header ul {
    display: flex;
    list-style-type: none;
}

header ul a{
    display: flex;
    padding: 7px 12px;
    text-decoration: none;
}
header ul a:hover {
    background: blue;
}
.flex-row{
    display: flex;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 3;
}

.border{
    border: 1px solid black;

}
.display-divider{
    display: flex;

}
.display-divider-2{
    display: flex;
}
.left{
    flex:11
}
.rigth{
    flex:1
}
